{% extends "tasks/base.html" %}
{% load static %}

{% block title %}Create Task{% endblock %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'tasks/create_task.css' %}">
        <script src="{% static 'tasks/js//create_task.js' %}" defer></script>
{% endblock %}

{% block body %}
<div class="task-create-container">
    <div class="task-create-box">
        <div class="task-create-form">
            <h2>Create a New Task</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-field">
                    {{ form.name.label_tag }} {{ form.name }}
                    <span class="char-counter" id="name-counter">0/70</span>
                </div>
                <div class="form-field">
                    {{ form.description.label_tag }} {{ form.description }}
                    <span class="char-counter" id="description-counter">0/1000</span>
                </div>
                <div class="form-field">{{ form.type.label_tag }} {{ form.type }}</div>
                <div class="form-field">{{ form.urgency.label_tag }} {{ form.urgency }}</div>
                <div class="form-field">{{ form.is_recurring.label_tag }} {{ form.is_recurring }}</div>
                
                <div id="recurring-fields" style="display: none;">
                    <div class="form-field">{{ form.repetition_period.label_tag }} {{ form.repetition_period }}</div>
                    <div class="form-field">{{ form.start_date.label_tag }} {{ form.start_date }}</div>
                    <div class="form-field">{{ form.end_date.label_tag }} {{ form.end_date }}</div>
                </div>
                
                <div id="due-date-field">
                    <div class="form-field">{{ form.due_date.label_tag }} {{ form.due_date }}</div>
                </div>
                
                <button type="submit" class="btn create-task-btn">Create Task</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
