{% extends "tasks/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'tasks/login.css' %}">
    <script defer src="{% static 'tasks/js/login.js' %}"></script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="login-container">
    <div class="login-box">
        <div class="login-form">
            <h2>Welcome Back!</h2>
            <p>Login to continue managing your tasks efficiently.</p>
            <form id="login-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error-message">{{ field.errors|first }}</div>
                        {% endif %}
                    </div>
                {% endfor %}

                {% if msg %}
                    <div class="incorrect-password-msg">{{ msg }}</div>
                {% endif %}
                <button type="submit" class="btn login-btn">Sign In</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
