{% extends "tasks/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'tasks/login.css' %}">
    <script defer src="{% static 'tasks/js/login.js' %}"></script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="abstract-circles">
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
    <div class="circle circle4"></div>
    <div class="circle circle5"></div>
    <div class="circle circle6"></div>
    <div class="circle circle7"></div>
    <div class="circle circle8"></div>
    <div class="circle circle9"></div>
    <div class="circle circle10"></div>
    <div class="circle circle11"></div>
    <div class="circle circle12"></div>
</div>
<div class="login-container">
    <div class="login-box">
        <div class="login-form">
            <h2>Welcome Back!</h2>
            <p>Login to continue managing your tasks efficiently.</p>
            <form id="login-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error-message">{{ field.errors|first }}</div>
                        {% endif %}
                    </div>
                {% endfor %}

                {% if msg %}
                    <div class="incorrect-password-msg">{{ msg }}</div>
                {% endif %}
                <button type="submit" class="btn login-btn">Sign In</button>
            </form>
        </div>
        <div class="login-image">
            <img src="/static/images/clock.jpeg" alt="Test Image">
        </div>
    </div>
</div>
{% endblock %}
